<div class="view-parent">
<div class="view-main">
<h2 style="align-self: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">VIEW EMPLOYEE DETAILS</h2>

<div class="view">
    <div>
        <label >
            <b>First Name:</b>
        </label>
        {{employee.firstName}}
    </div>
    <div>
        <label >
            <b>Last Name:</b>
        </label>
        {{employee.lastName}}
    </div>
    <div>
        <label >
            <b>Email Id:</b>
        </label>
        {{employee.emailId}}
    </div>
</div>
</div>
</div>