<nav  id="navbar-main">
    <ul class="navbar-nav" id="navbar_div">
        <div class="left">
     <li class="nav-item">
         <a id="li-main" routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
     </li>
     <li class="nav-item">
         <a id="li-main" routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
     </li>
    </div>
    <div class="right">
     <li class="nav-item">
        <a id="li-main" routerLink="login" routerLinkActive="active" class="nav-link" (click)="logOut()">Logout</a>
    </li>
</div>
    </ul>
 </nav>



